@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }
.spacer {
  height: 100vh;
  }
  
.scroll-container {
  scroll-behavior: smooth; /* Supportato da alcuni browser */
  -webkit-overflow-scrolling: touch; /* Per Safari su iOS */
}